<div class="consulta-container">
    <form (ngSubmit)="buscarCliente()">
      <label for="input-id">ID do Autor</label>
      <input
        type="number"
        id="input-id"
        name="input-id"
        [(ngModel)]="idBusca"
        class="input-id"
        placeholder="Digite o ID do autor"
        required
      />
      <button type="submit" class="btn-buscar">Buscar</button>
    </form>
  
    <div *ngIf="autorEncontrado" class="cliente-dados">
      <h2>Dados do Autor</h2>
      <p><strong>ID:</strong> {{ autorEncontrado.id }}</p>
      <p><strong>Nome:</strong> {{ autorEncontrado.nome }}</p>
      <p><strong>Nacionalidade:</strong> {{ autorEncontrado.nacionalidade }}</p>
    </div>
  
    <div *ngIf="erroBusca" class="erro-busca">
      {{ erroBusca }}
    </div>
  </div>