<div class="app-container">
  <aside class="sidebar">

    <div class="logo-section">
      <span class="material-symbols-rounded logo-icon-style">
        menu_book
      </span>

      <div>
        <h2 class="logo-text">LibraryOS</h2>
        <p class="logo-sub">Admin Dashboard</p>
      </div>
    </div>

   <nav class="nav-menu">

  <a
    routerLink="/livros"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-item"
  >
    <span class="material-symbols-rounded">import_contacts</span>
    Livros
  </a>

  <a
    routerLink="/autores"
    routerLinkActive="active"
    class="nav-item"
  >
    <span class="material-symbols-rounded">person_edit</span>
    Autores
  </a>

</nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>